@import 'variaveis.scss';

$font-family-base: $--font-family;
$font-size-base: $--font-size;
$font-family-base: $--font-family;


@import '~@fortawesome/fontawesome-free-webfonts/css/fa-brands.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fa-regular.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';
@import '~@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";
@import '~bootstrap/scss/bootstrap';

.el-form--label-top .el-form-item__label {
  padding: 10px 0 2px 0;
  line-height: 0px;
  font-size: $--font-size;
}