$--font-family: Arial, Roboto, "Segoe UI", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$--font-size: 0.80rem !default;
$--line-height: 1.5 !default;