<template>
  <b-container fluid>
    <el-row :gutter="12" type="flex" justify="center">
      <el-col :xl="16" :lg="16" :md="24" :sm="24" :xs="24">
        <el-form @submit.prevent.native="verificar()" status-icon label-position="top" ref="form" :model="form">
          <el-form-item label='Chute' prop='chute'>
            <el-input-number v-model="form.chute" controls-position="right" :min="0" :max="10"></el-input-number>
          </el-form-item>
          <el-form-item label='Chute' prop='acertou' v-show="false">
            <el-checkbox v-model="form.acertou"></el-checkbox>
          </el-form-item>
          <el-form-item label='Chute' prop='tentou' v-show="false">
            <el-checkbox v-model="form.tentou"></el-checkbox>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click.prevent="verificar()" :disabled="form.tentou">
          Verificar
        </el-button>
        <el-button type="primary" @click.prevent="reiniciar()" :disabled="!form.tentou">
          Reiniciar
        </el-button>
      </el-col>
    </el-row>
    <el-row :gutter="12" type="flex" justify="center" class="mt-5" v-if="form.tentou">
      <el-col :xl="16" :lg="16" :md="24" :sm="24" :xs="24">
        <i class="el-icon-success" v-if="form.acertou"></i>
        <i class="el-icon-error" v-else></i>
      </el-col>
    </el-row>
  </b-container>
</template>

<script>

export default {
  data() {
    return {
      form: {
        numeroSecreto: 0,
        chute: 0,
        acertou: false,
        tentou: false
      }
    };
  },
  methods: {
    verificar() {
      this.form.tentou = true;
      this.form.acertou = this.form.chute === this.form.numeroSecreto;
    },
    reiniciar() {
      this.$refs.form.resetFields();
    }
  },
  created() {
    this.form.numeroSecreto = Math.floor(Math.random() * 10) + 0;
  }
};
</script>
<style scoped>
.el-icon-error {
  font-size: 50px;
  color: red;
}
</style>