<template>
  <b-container fluid>
    <el-row :gutter="12" type="flex" justify="center">
      <el-col :xl="16" :lg="16" :md="24" :sm="24" :xs="24">
        <el-form @submit.prevent.native="calcular()" status-icon label-position="top">
          <el-form-item label='Altura' prop='altura'>
            <el-input v-model.trim="altura" placeholder='Altura da Pessoa'></el-input>
          </el-form-item>
          <el-form-item label='Peso' prop='peso'>
            <el-input v-model.trim="peso" placeholder='Peso da Pessoa'></el-input>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click.prevent="calcular()">
          Calcular
        </el-button>
      </el-col>
    </el-row>
    <el-row :gutter="12" type="flex" justify="center" class="mt-5">
      <el-col :xl="16" :lg="16" :md="24" :sm="24" :xs="24">
        <h5 class="font-weight-bold">Seu IMC é: {{ resultado }}</h5>
      </el-col>
    </el-row>
  </b-container>
</template>

<script>

export default {
  data() {
    return {
      altura: 0,
      peso: 0,
      resultado: 0
    };
  },
  methods: {
    calcular() {
      this.resultado = this.peso / this.altura ** 2;
    }
  }
};
</script>
