<template>
  <b-container fluid>
    <el-row :gutter="12" type="flex" justify="center">
      <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
        <el-table
          :data="listaUm"
          border
          stripe
          style="width: 100%">
          <el-table-column
            label="Valores">
            <template slot-scope="scope">
              {{ scope.row }}
            </template>
          </el-table-column>
        </el-table>
      </el-col>
      <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
        <el-table
          :data="listaUm"
          border
          stripe
          style="width: 100%">
          <el-table-column
            label="Valores">
            <template slot-scope="scope">
              {{ scope.row }}
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
    <el-row :gutter="12" type="flex" justify="center" class="mt-5">
      <el-col :xl="24" :lg="24" :md="24" :sm="24" :xs="24">
        <el-form @submit.prevent.native="adicionar()" status-icon label-position="top">
          <el-form-item label='Valor' prop='valorAdicionado'>
            <el-input-number v-model="valorAdicionado" controls-position="right" :min="0" :max="1000"></el-input-number>
          </el-form-item>
        </el-form>
        <el-button type="primary" @click.prevent="adicionar()">
          Adicionar
        </el-button>
      </el-col>
    </el-row>
  </b-container>
</template>

<script>

export default {
  data() {
    return {
      listaUm: [],
      listaDois: [],
      valorAdicionado: ''
    };
  },
  methods: {
    adicionar() {
      
    }
  }
};
</script>
<style scoped>
.el-icon-error {
  font-size: 50px;
  color: red;
}
</style>