<template>
  <b-container fluid>
    <el-row :gutter="12" type="flex" justify="center">
      <el-col :xl="16" :lg="16" :md="24" :sm="24" :xs="24">
        <el-table
          :data="atividades"
          style="width: 100%">
          <el-table-column
            prop="questao"
            label="Questão">
          </el-table-column>
          <el-table-column
            prop="url">
            <template slot-scope="scope">
              <router-link :to="scope.row.url">
                Acessar
              </router-link>
            </template>
          </el-table-column>
        </el-table>
      </el-col>
    </el-row>
  </b-container>
</template>

<script>

export default {
  data() {
    return {
      atividades: [
        {
          questao: "Calcule o IMC",
          url: "/Atividade1"
        },
        {
          questao: "Adivinhe o número secreto",
          url: "/Atividade2"
        },
        {
          questao: "",
          url: "/Atividade3"
        }
      ]
    };
  },
};
</script>
