<template>
  <div id="app">
    <div class="m-3">
      <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item index="1">
          <router-link to="/">
            Início
          </router-link>
        </el-menu-item>
      </el-menu>
    </div>
    <transition name="bounce">
      <router-view></router-view>
    </transition>
  </div>
</template>